* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
    overscroll-behavior-block: auto; /* default */
    overscroll-behavior-block: contain;
    overscroll-behavior-block: none;
  }
  
.navbar {
    background: #ffffff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 2px solid #cccccc;
}
  
.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 1.8rem;
    padding-right: 0.9rem;
    z-index: 999;
}

.navbar_logo {
  color: #696969;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.9rem;
  height: 100%;
  padding-left: 1.3rem;
  z-index: 999;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    z-index: 999;
}
  
.navbar_item {
    height: 80px;
}
  
.navbar_links {
    color: #696969;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
}

.navbar_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1rem;
      width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #1e130c;
    background: -webkit-linear-gradient(to right, #2348ff, #2348ff);
    background: linear-gradient(to right, #2348ff, #2348ff);
    color: #ffffff;
    transition: all 0.3s ease;
}

.navbar_links:hover {
    color: #9d9d9d;
    transition: all 0.3s ease;
}

.nav_img {
  width: 3.0rem;
  height: 3.0rem;
 }

@media screen and (max-width: 960px) {


    .navbar_container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
  
    .navbar_menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 100;
      transition: all 0.6s ease;
      z-index: -1;
      font-size: 1.6rem;
    }
  
    .navbar_menu.active {
      background: #ffffff;
      top: 100%;
      opacity: 1;
      transition: all 0.6s ease;
      height: 60vh;
      font-size: 1.6rem;
      z-index: -1;
      border-bottom: 2px solid #cccccc;
    }
  
    #navbar_logo {
      padding-left: 1rem;
    }
  
    .navbar_toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: #696969;
    }
  
    .navbar_item {
      width: 100%;
    }
  
    .navbar_links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .navbar_btn {
      padding-bottom: 2rem;
    }
  
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 80px;
      margin: 0;
    }
  
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
      z-index: -1;
    }
  
    .navbar_toggle .bar {
      display: block;
      cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    .home_heading {
      font-size: 0.5rem;
    }

  }
  
  /* Home  Section */

  .home {
    background: #FFFFFF;
    padding: 100px 0;
  }
  
  .home_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
  }
  
  .home_heading {
    font-size: 80px;
    margin-bottom: 24px;
    color: #fff;
  }
  
  .home_heading span {
    background: #000000;
    background: -webkit-linear-gradient(
      to right,
      #000000,
      #000000
    );
    background: linear-gradient(
      to right,
      #000000,
      #000000
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
  }
  
  .home_description {
    font-size: 60px;
    background: #000000;
    background: -webkit-linear-gradient(
      to right,
      #000000,
      #000000
    );
    background: linear-gradient(
      to right,
      #000000,
      #000000
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  
  .highlight {
    border-bottom: 4px solid #696969;
  }

  .highlight_fake {
    border-bottom: 4px solid #f2f2f2;
  }

  @media screen and (max-width: 768px) {
    
    .home_container {
      padding: 0 0;
    }
    
    .home_heading {
      font-size: 50px;
    }
  
    .home_description {
      font-size: 35px;
    }

    .main_btn {
      width: 30px;
      height: 30px;
      width: fit-content;
      height: fit-content;
      text-align: center;
      padding: 1px 1px;
    }

    .main_btn a {
      display: inline-block;
      text-align: center;
      font-size: 1.3rem;
      width: fit-content;
      padding: 0px 0px;
    }

  }
  
  /* About Section */

  .main {
    background-color: #fff;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  
  .main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
  }
  
  .main_content {
    color: #fff;
    width: 100%;
  }
  
  .main_content h1 {
    font-size: 1.9rem;
    background-color: #000000;
    background-image: linear-gradient(to bottom, #6B88E1 0%, #5A71FB 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
  }
  
  .main_content h2 {
    font-size: 3rem;
    background: #1e130c;
    background: -webkit-linear-gradient(
      to right,
      #1e130c,
      #1e130c
    );
    background: linear-gradient(
      to right,
      #1e130c,
      #1e130c
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  
  .main_content p {
    color: black;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
  }
  
  .main_btn {
    font-size: 1.8rem;
    background: #1e130c;
    background: -webkit-linear-gradient(to bottom, #8799ff, #2348ff);
    background: linear-gradient(to bottom, #8799ff, #2348ff);
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    outline: none;

    transition: all 0.35s;
  }
  
  .main_btn:hover {
    opacity: 0.6;
    transition: all 0.35s;
  }
    /*background-color: linear-gradient(
      to right,
      #e8c8a9,
      #deb082
    );
    background-color: -webkit-linear-gradient(
      to right,
      #e8c8a9,
      #deb082
    );
    */

  .main_btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
  }
  /*
  .main_btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fff;
    transition: background-color 0.35s;
    border-radius: 4px;
  }
  
  .main_btn:hover {
    background-color: #fff;
  }
  
  .main_btn:hover:after {
    width: 100%;
  }
  */
  .main_img-container {
    text-align: center;
    padding-bottom: 3rem;
    
  }
  
  .main_img-card {
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to bottom, #8799ff 0%, #2348ff 100%);
  }
  
  .main_img-card-2 {
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to bottom, #8799ff 0%, #2348ff 100%);
  }

  .fa-solid, .fa-screwdriver-wrench,
  .fa-solid, .fa-box-open
  {
    font-size: 14rem;
  }
  
  #card-2 {
    background: #2348ff;
    background: -webkit-linear-gradient(to bottom, #5A71FB, #2348ff);
    background: linear-gradient(to bottom, #5A71FB, #2348ff);
  }
  
  /* Mobile Override */
  
  @media screen and (max-width: 768px) {


    .main_btn:hover {
      background-color: linear-gradient(to right, #9a8478, #1e130c);
    }

    .main_content h1 {
      font-size: 25px;
      padding-top: 1rem;
    }
    
    .main_content h2 {
      font-size: 30px;
      padding-bottom: 0.75rem;
    }
    
    .main_content p {
      font-size: 1rem;
    }

    .main_container {
      padding: 0px 0px;
    }

    .main_container {
      padding-left: 2.3rem;
      padding-right: 2.3rem;
    }

  }

  @media screen and (max-width: 1100px) {
    
    .main_container {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      height: 90%;
    }
  
    .main_img-container {
      display: flex;
      justify-content: center;
    }
  
    .main_img-card {
      height: 425px;
      width: 425px;
    }
  
    .main_content {
      text-align: center;
      margin-bottom: 4rem;
    }

  }
  
  @media screen and (max-width: 768px) {
  .fa-solid, .fa-screwdriver-wrench,
  .fa-solid, .fa-box-open
  {
    font-size: 1000%;
  }

  .main {
    padding-top: 4rem;
    padding-bottom: 1rem;
  }

    .main_img-card {
      width: 300px;
      height: 300px;
      padding: 0px 0px;
    }
  
    .main_content h1 {
      font-size: 2rem;
      margin-top: 0.5rem;
      margin-bottom: 0rem;
    }

    .main_content h2 {
      font-size: 2rem;
      margin-top: 1.2rem;
      margin-bottom: 0rem;
    }
  
    .main_content p {
      margin-top: 0.9rem;
      margin-bottom: 0rem;
    }
  
    .main_btn {
      padding: 12px 36px;
      margin-top: 1.0rem;
      margin-bottom: 0rem;
    }
  }
  
  /* Gallery Section */

  .gallery {
    background: #fcf6f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  
  .gallery h1 {
    background-color: #1e130c;
    background-image: linear-gradient(to right, #9a8478 0%, #1e130c 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 2.5rem;
  }
  
  .gallery_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  
  .gallery_card {
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to right, #9a8478 0%, #1e130c 100%);
    transition: 0.3s ease-in;
  }

  .gallery_card:nth-child(2) {
    background: #deb082;
    background: -webkit-linear-gradient(
      to right,
      #e8c8a9,
      #c98036
    );
    background: linear-gradient(
      to right,
      #e8c8a9,
      #c98036
    );
  }
  
  .gallery_card:nth-child(3) {
    background: #deb082;
    background: -webkit-linear-gradient(
      to right,
      #e8c8a9,
      #c98036
    );
    background: linear-gradient(
      to right,
      #e8c8a9,
      #c98036
    );
  }
  
  .gallery_card h2 {
    text-align: center;
  }
  
  .gallery_card p {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
  }
  
  .gallery_btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  
  .gallery_card button {
    color: #fff;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #131313;
    font-size: 1rem;
  }
  
  .gallery_card button:hover {
    cursor: pointer;
  }
  
  .gallery_card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  @media screen and (max-width: 1300px) {
    .gallery_wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 768px) {
    .gallery_wrapper {
      grid-template-columns: 1fr;
    }

    .gallery {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    .gallery h1 {
      margin-top: 0rem;
      margin-bottom: 2rem;
    }

    .gallery_card {
      margin: 10px;
      height: 260px;
      width: 250px;
      font-size: 15px;
      padding: 10px;
    }

    .gallery_card p {
      font-size: 15px;
    }

  }
  
  /* Footer */

  .footer_container {
    background-color: #ffffff;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #cccccc;
  }
  
  #footer_logo {
    color: #1e130c;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .footer_links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  }
  
  .footer_link-wrapper {
    display: flex;
  }
  
  .footer_link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
  }
  
  .footer_link-items h2 {
    margin-bottom: 16px;
    color: #1e130c;
  }
  
  .footer_link-items a {
    color: #1e130c;
    text-decoration: none;
    margin-bottom: 0rem;
    transition: 0.3 ease-out;
  }
  
  .footer_link-items a:hover {
    color: #000000;
    transition: 0.3 ease-out;
  }
  
  .social_icon-link {
    color: #1e130c;
    font-size: 24px;
  }
  
  .social_media {
    max-width: 1000px;
    width: 100%;
  }
  
  .social_media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 7px auto 0 auto;
  }
  
  .social_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }
  
  .website_rights {
    color: rgb(0, 0, 0);
  }
  
  .about_img {
    width: 40rem;
    height: 40rem;
  }

  @media screen and (max-width: 968px) {

    .about_img {
      width: 40rem;
      height: 40rem;
    }

    .footer_links {
      padding-top: 2rem;
    }
  
    #footer_logo {
      margin-bottom: 2rem;
    }
  
    .website_rights {
      margin-bottom: 2rem;
    }
  
    .footer_link-wrapper {
      flex-direction: column;
    }
  
    .social_media-wrap {
      flex-direction: column;
    }

  }
  
  @media screen and (max-width: 480px) {
    .footer_link-items {
      margin: 0;
      padding: 10px;
      width: 100%;
    }

  }  

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .form input {
    padding: 1.5rem;
    margin-bottom: 20px;
    outline: none;
    border: none;
    background-color: #ffffff;
    -moz-text-decoration-color: #ffffff;
  }

  .form textarea {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    outline: none;
    border: none;
    background-color: #ffffff;
    -moz-text-decoration-color: #ffffff;
  }

  .imgcenter {
    display: block;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
  }

  /* Fade-In Effect (Intersection-Observers) */

  .fade-in_static {
  /* animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s; */
  }

  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

/* A bunch of fade-in shit */

  .fade-in {
    /* opacity: 0;
    transition: opacity 1s ease-in; */
    opacity: 1;
  }
  
  .fade-in.appear {
    opacity: 1;
  }

  .fade-in1 {
    /* opacity: 0; */
    transition: opacity 1s ease-in;
  }
  
  .fade-in1.appear {
    opacity: 1;
  }

  .fade-in2 {
    /* opacity: 0; */
    transition: opacity 1s ease-in;
  }
  
  .fade-in2.appear {
    opacity: 1;
  }

  .fade-in3 {
    /* opacity: 0; */
    transition: opacity 1s ease-in;
  }
  
  .fade-in3.appear {
    opacity: 1;
  }

  /* Scrolling images */

  .main-scroll-div {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px transparent;
  }

  .cover {
    position: relative;
    width: 90%;
    height: 50%;
  }

  .cover::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 60px;
    background-image: linear-gradient(90deg, #fcf6f2, transparent);
  }

  .cover::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 60px;
    background-image: linear-gradient(-90deg, #fcf6f2, transparent);
  }

  .scroll-images {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
  }

  /*
  .scroll-images::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  */

  .child  {
    min-width: 600px;
    height: 450px;
    cursor: pointer;
    border: 1px solid white;
    overflow: hidden; 
  }

  .child-img {
    width: 100%;
    height: 100%;
  }

  .icon {
    color: #9a8478;
    background-color: #fcf6f2;
    font-size: 1.9rem;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .icon:hover {
    color: #c1b1a9;
    transition: all 0.5s ease-in;
  }


/* gallery section */

.gallery_content{
  padding: 0 1.5rem;
}

.gallery_img {
  img-size: 2rem;
}

/* font squirrel */

/* home slider */

.slider {
  height: 350px;
  margin: auto;
  position: relative;
  width: 85%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(250px * 18);
  animation: scroll 40s linear infinite;
}

.slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}

.slide {
  height: 400px;
  width: 450px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

img {
  width: 100%;
  transition: transform 1s;
}

img:hover{
  transform: translateZ(20px);
}

/* gradient shadows */
.slider::before,
.slider::after {
  background: linear-gradient(to right, #fcf6f2 0%,
  rgba(255,255,255,0) 100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 10%;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
  translate: 1px;
}

/*==================== GALLERY SWIPER ====================*/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  overflow: hidden;
  padding: 4rem;
}

.swiper-pagination-bullet-active {
  background-color:#67574A !important;
}

input::placeholder, textarea::placeholder
{
 color: white;
 opacity: 1;
}